
.ant-list-item{
    padding: 0.5rem !important;
}

.ant-menu-item:nth-last-child(2){
    margin-right: auto;
}

.ant-drawer-title{
    font-size: 160%;
}

.ant-list-item-meta-avatar{
    margin-right: 0 !important;
    margin-left: 16px !important;
}