@import '~antd/dist/antd.css';

#root {
  width: 100%;
  height: 100%;
}

body,html {
  direction: rtl;
  margin: 0;
  font-family: 'Mikhak-Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container-md {
  position: relative;
  top: 5rem;
  right: 50%;
  transform: translateX(50%);
  width: 75vw;
  /*height: 75vh;*/
}

@font-face {
  font-family: 'Mikhak-Regular';
  src: local('Mikhak-Regular'), url(./fonts/Mikhak-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mikhak-Bold';
  font-weight: 900;
  src: local('Mikhak-Bold'), url(./fonts/Mikhak-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Mikhak-Black';
  font-weight: 900;
  src: local('Mikhak-Black'), url(./fonts/Mikhak-Black.ttf) format('truetype');
}
